.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

li {
  padding: 5px;
  margin: 5px;
  background: rgba(212, 88, 6, 0.815)
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}

body{
  background-color:#ffc90c
  /* background-image: url("../images/cartoon-burgerSize.png") */
  }
  
  h1{
    color: red;
  }

  p{
    font-weight: bold;
    color:beige;
  }
